.forms{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
.textarea{
    margin: 10px;
    resize: none;
}

.maincontent{
    display: flex;
    flex-direction: column;
}